body{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.car-logo{
    height: 80px;
}
.nav-text{
    text-align: end;
}

.container-fluid{
    height: 70px;
}
.head{
    background: url(../images/background.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
} 
.slider_form{
    width: 400px;
    border-radius: 10px;
}
.btnn{
    width: 100%;
}
.taxi-img{
    height: 300px;
    margin-top: 35%;
}
.car-btn{
    text-align: center;
}
.btn-car{
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    height: 45px;
    margin: 10px 50px;
    margin-top: 30px;
    border: none;
    font-weight: 800;
    color: #0b041b;
    background: rgb(224, 241, 31);
    cursor: pointer;
    box-shadow: 0 0 10px 2px black;  
}
.btn-car:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}
.car-img{
    display: block;
    margin: 30px auto;
    height: 300px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width: 300px;
    padding: 15px;
    text-align: center;
    margin: 10px;
}
.card-icon{
    width: 150px;
    display: block;
    margin: 0 auto;
}
.card-head{
    font-weight: bold;
    margin-top: 10px;
}
.section{
    margin-top: 100px;
}
.section-content{
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin: 40px 0px;
    font-size: 18px;
}
.section-content-r{
    margin-left: -400px;
}
.ph-img{
    height: 450px;
    margin-right: 300px;
}
.steps-icon{
    height: 60px;
    background-color: black;
    border-radius: 50%;
    padding: 3px;
}


/*<!--footercode---->*/
/* .footer{
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 100px;

}
.main-footer{
    align-items: center;
    justify-content: space-between
}

.soci-logo{
    height: 40px;
    padding-right: 20px;
}
.mid-footer{
    display: grid;
    align-items: center;
    padding-top: 80px;
}
.useful-links{
    display: flex;
    justify-content:space-between ;
    color: #e5e5e5;
    text-decoration: none;
    margin-top: 20px;
}
.page-links{
    color: #e5e5e5;
    font-size: large;
    text-align: center ;
}
.copy-right{
    color: white;
}
.right-footer{
    color: white;
}
.msg-heading{
    padding-top: 120px;
    padding-bottom: 30px;
}

@media screen and (max-width:600px) {
    .head{
        display: block;
        height: 1000px;
    }
    .taxi-img{
        height: 200px;
        margin-top: 20px;
    }
    .ph-img{
        display: block;
    }
    .section-content-r{
        margin-top: 100%;
        margin: 0 auto;
    }
}
   */

   .futo{
    max-width: 1170px;
    margin: auto;
 }
 .ram{
    display: flex;
    flex-wrap: wrap;
 }
 ul{
    list-style: none;
 }
 .footer{
    background-color: #24262b;
    /* margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 100px;
    padding-left: 100px; */
    padding: 70px 0;
 }
 .footer-col{
    width: 25%;
    padding: 0 15px;
 }
 .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
 }
 .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
 }
 .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
 }
 .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
 }
 .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
 }
 .footer-col .social a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
 }
 .footer-col .social a:hover{
    color: #24262b;
    background-color: #ffffff;
 }

 /*responsive*/
 @media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
 }
 @media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
 }